body {
    text-align: center;
    font-family: "Noto Serif", serif;
    font-weight: 700;
    font-style: italic;
    margin: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text1 {
    font-size: 40px;
    color: #2a7b90;
}

.text2 {
    font-size: 40px;
    color: #de8157;
    margin-bottom: 20px;

}

.text3 {
    font-size: 15px;
    color: #ffc7ba;
}

.text4 {
    font-size: 30px;
    color: #de8157;
}

.text5 {
    font-size: 30px;
    color: #ffc7ba;
}

.blue-button:hover,
.grid button:hover,
.last-button:hover {
    transform: translateY(-1px) scale(1.05);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
}

.blue-button {
    background-color: #b1dbd7;
    color: #2a7b90;
    padding: 20px 75px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
    text-decoration: none;
}


.last-button {
    background-color: #de8157;
    color: white;
    padding: 2vh 33vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    text-decoration: none;
}

.pressed-button {
    background-color: white;
    color: #de8157;
    padding: 20px 40px;
    margin: 0 10px;
    border: 3px solid #ffc7ba;
    border-radius: 5px;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid button {
    background-color: #ffc7ba;
    color: #de8157;
    padding: 10px;
    border: 2px solid #de8157;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}